
:root {
    --primary-color : #7b189f;
    --secondary-color: #434344;
    --secondary-color-light: #edebeb;
    --tertiary-color: #636363;
    --tertiary-color-light: #c4c4c4;
    --quaternary-color-light: #ffffff;
    --accent-color: #0000ff;
    

}   